<br>
<br>
<%= form_for :auth, html: { class: "form-signin" } do |f| %>

<h1 class="h3 mb-3 font-weight-bold">Please Sign In</h1>

<p style="color: red;"><%= flash[:message] %></p>

    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %><br>

    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %><br>

<%= f.submit "Login", class: "btn btn-lg btn-primary btn-block"%><br>

<p class="mb-3">Don't have an account? <%= link_to "Sign up here", new_user_path %></p>
<% end %>