<br>
<br>

  <div style="text-align: left;">
  <h1>Ingredients:</h1>

  <%= form_tag ingredients_path, :method => 'get' do %>
    <%#= label_tag(:search, "What Ingredient Do You Want To Search For?") %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag("Search for Ingredient", :name => nil, class: "btn btn-primary btn-sm") %>
  <% end %>
  </div>

  <div class="row row-cols-1 row-cols-md-3 p-5">
    <% @ingredients.order(:name).each do |ingredient| %>
    <div class="col mb-4 mx-auto">
      <div class="card border-dark">
        <div class="card-body">
          <h5 class="card-title"><%= ingredient.name %></h5>
          <a href="<%= ingredient_path(ingredient) %>" class="btn btn-primary">View Ingredient</a>
        </div>
      </div>
    </div>
    <% end %>
  </div>


