<br>
<br>
<br>
<div class="container-sm">
<h1><%= @ingredient.name %></h1>
<p><%= @ingredient.description %> </p>

<h4>Recipes with this Ingredient: </h4>

<div class="row row-cols-1 row-cols-md-3 p-5">
    <% @ingredient.meals.each do |meal| %>
    <div class="col mb-4">
        <div class="card h-100" style="width: 18rem;">
        <img src=<%= meal.image_url %> class="card-img-top" alt="...">   
            <div class="card-body">
                <h5 class="card-title"><%= meal.name %></h5>
                <a href="<%= meal_path(meal) %>" class="card-link">View Meal</a>
            </div>
        </div>
    </div>
    <% end %>
</div>
</div>
