<br>
<div style="text-align: left;">
<h1>Meals: </h1>

<%= form_tag meals_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag("Search for Meal", :name => nil, class: "btn btn-primary btn-sm" ) %>
    <% end %>
</div>    

<div class="row row-cols-1 row-cols-md-3 p-5">
<% @meals.order(:name).each do |meal| %>
    <div class="col mb-4 mx-auto">
    <div class="card h-100 border-dark">
    <img src=<%= meal.image_url %> class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><%= meal.name.titleize %></h5>
            <p class="card-text"><strong>Cuisine: </strong><%= meal.area %><br>
                <strong>Category: </strong><%= meal.category %></p>
            <a href="<%= meal_path(meal) %>" class="btn btn-primary">View Recipe</a>
            <% if logged_in? %>
            <% if @user.meals.include?(meal)%>
            <a href="<%= favorite_path(meal, type: "unfavorite") %>" class="btn btn-primary">Unfavorite</a>
            <% else %>
            <a href="<%= favorite_path(meal, type: "favorite") %>" class="btn btn-primary">Add to Favorites</a>
            <% end %>
            <% end %>
        </div>
    </div>
    </div>
<% end %>
</div>

