<h1><%= @meal.name %></h1><br>

<% if current_user %>
  <%= link_to "favorite",   favorite_path(@meal, type: "favorite"), method: :get %><br>
  <%= link_to "unfavorite", favorite_path(@meal, type: "unfavorite"), method: :get %><br>
<% end %>

<ul>
<br><% @meal.recipes.each do |ing| %>
    <li><%= ing.measurements %> <%= ing.ingredient.name %></li>
    <% end %><br>
</ul>

<h4> Instructions: </h4>
<ol><% @meal.read_instructions.each do |line| %>
    <li><%= line %></li>
<% end %></ol><br>


<br><%= image_tag(@meal.image_url) %><br>

Category: <%= @meal.category %><br>
Cuisine: <%= @meal.area %><br>
<%= link_to @meal.source, @meal.source %>

